* {
  margin: 0%;
}

header {
  text-align: center;
  padding: 10px;
  background-color: rgb(32, 32, 32);
  color: white;
  margin-top: 0%;
}

footer {
  text-align: center;
  background-color: black;
  color: white;
  padding: 15px;
  bottom: 0%;
  width: 100%;
}

#navigate {
  position: sticky;
  top: 0%;
}

ul {
  background-color: rgb(128, 128, 128);
}

ul li {
  display: inline-block;
  padding: 10px;
  color: white;
  font-size: medium;
}

ul li a {
  color: white;
  text-decoration: none;
}

ul li:hover {
  background-color: rgb(0, 0, 0, 0.5);
}

ul li>ul {
  display: none;
  position: absolute;
  width: auto;
  padding: 0%;
  top: 38px;
  background-color: rgb(231, 231, 231);
}

ul li:hover ul {
  display: block;
}

ul li ul li {
  display: block;
}

li ul li>a {
  color: black;
  font-size: large;
}

ul li ul li:hover {
  background-color: rgb(0, 0, 0, 0.5);
}

.background {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 5s;
  animation-name: animate;
  animation-direction: alternate-reverse;
  animation-duration: 30s;
  animation-fill-mode: none;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-timing-function: ease-in-out;
  margin: 20px;
}

@keyframes animate {
  0% {
      background-image: url(images/Animation/ani1.jpg);
      height: 430px;
      border: 2px solid blue;
  }
  20% {
      background-image: url(images/Animation/ani2.png);
      height: 430px;
      border: 2px solid blue;
  }
  40% {
      background-image: url(images/Animation/ani3.jpg);
      height: 430px;
      border: 2px solid blue;
  }
  60% {
      background-image: url(images/Animation/ani4.jpg);
      height: 430px;
      border: 2px solid blue;
  }
  80% {
      background-image: url(images/Animation/ani5.jpg);
      height: 430px;
      border: 2px solid blue;
  }
  100% {
      background-image: url(images/Animation/ani1.jpg);
      height: 430px;
      border: 2px solid blue;
  }
}


/* Covid Products */

.covidproducts {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
}

.co-product {
  border: 1px solid black;
  margin: 20px;
  padding: 20px;
  box-shadow: 2px 2px 2px 2px gray;
  border-radius: 3px;
  transition: 1s;
}

.covidproducts>div:first-child {
  margin-left: 50px;
}

.co-product>img {
  width: 160px;
  height: 100px;
}

.co-product>button {
  background-color: rgb(128, 128, 128, 0.7);
  color: orangered;
  padding: 10px;
  justify-content: center;
  border: none;
  width: 100%;
  font-size: medium;
  border-radius: 7px;
}

.co-product:hover,
.dia-product:hover {
  transform: scale(1.2);
}


/* Diabates Products */

.diabatesproducts {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
}

.dia-product {
  border: 1px solid black;
  margin: 20px;
  padding: 20px;
  box-shadow: 2px 2px 2px 2px gray;
  border-radius: 3px;
  transition: 1s;
}

.diabatesproducts>div:first-child {
  margin-left: 50px;
}

.dia-product>img {
  width: 160px;
  height: 100px;
}

.dia-product>button {
  background-color: rgb(128, 128, 128, 0.7);
  color: orangered;
  padding: 10px;
  justify-content: center;
  border: none;
  width: 100%;
  font-size: medium;
  border-radius: 7px;
}