.container {
  border: 0px solid black;
  width: 1100px;
  height: 430px;
  display: flex;
  margin: auto;
  margin-top: 50px;
  justify-content: center;
  box-shadow: -2px -2px 20px 2px gray;
  overflow-y: scroll;
  direction: ltr;
}

.box-left {
  width: 58%;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  padding-left: 60px;
  padding-right: 60px;
}

.box-right {
  display: flex;
  width: 42%;
  
}

.box-right img {
  width: 630px;
  height: 430px;
  
}

input[type=text],
input[type=email],
input[type=tel] {
  border: none;
  border-bottom: 1px solid black;
  padding-top: 25px;
  padding-bottom: 10px;
  font-size: medium;
  width: 230px;
}

#district {
  width: 180px;
  padding: 15px
}

table tr td {
  font-size: large;
}

input[type=checkbox],
input[type=radio] {
  width: 15px;
  height: 15px;
}

input[type=date],
input[type=time] {
  border: none;
  border-bottom: 1px solid black;
  width: 200px;
  font-size: large;
  padding: 20px;
}

input[type=date]:focus,
input[type=time]:focus {
  border-bottom: 2px solid black;
}

#buttons {
  margin-left: 550px;
}

input[type=submit],
input[type=reset] {
  margin-left: 20px;
  padding: 3px 15px;
  background-color: blueviolet;
  color: white;
  border: 1px solid rgb(0, 0, 0, 0.5);
  border-radius: 5px;
}